.container {
  width: 85%; /* for mobiles with width smaller than 360 */
  max-width: 360px; /* for web so the box isnt so big */
  background: white;
}

h1 {
  background: #2980b9;
  color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}

.addElementIcon {
	cursor: pointer;
	text-decoration: none;
	font-style: normal;
  float: right;
}
.addElementInput {
  display: inline-block;
  font-size: 18px;
	color: #2980b9;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 20px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
}
.addElementInput:focus {
	background: white;
	border: 3px solid #2980b9;
	outline: none;
}

.listElement {
	color: gray;
	font-size: 18px;
	margin: 0;
	padding: 0;
	line-height: 32px;
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-columns: 1fr 100fr 1fr;
	grid-template-areas: 'd t e';
}

.listElement:hover .deleteElement {
	width: 40px;
	opacity: 1;
}
.listElement:hover .textElement {
	max-width: 280px;
	word-break: normal;
}
.listElement:hover .editElement {
	width: 40px;
	opacity: 1;
}

.deleteElement {
	cursor: pointer;
	background: red;
	color: white;
	text-align: center;
	line-height: 40px;
	transition: 0.15s linear;
	height:40px;
	width: 0px;
	opacity: 0;
	grid-area: d;
}
.textElement {
	cursor: pointer;
	overflow-wrap: break-word;
	transition: 0.1s ease;
	max-width: 360px;
	grid-area: t;
}
.editElement {
	cursor: pointer;
	background: blue;
	color: white;
	text-align: center;
	line-height: 40px;
	transition: 0.15s linear;
	height: 40px;
	width: 0px;
	opacity: 0;
	grid-area: e;
}

.editElementInput {
	display: inline-block;
	font-size: 18px;
	color: #2980b9;
	width: 80%;
	height: 70%;
	padding-left: 20px;
	padding-right: 20px;
}

.textStrikethrough {
	text-decoration: line-through;
}